<div>
    <h1>Ligands and proteins viewer</h1>
    <div style="display: flex;height: 900px;">
        <div style="marginLeft: 10px; width: 300px;">
            <ligand-list></ligand-list>
            <protein-list></protein-list>
        </div>
        <div style="flex-grow: 1;position: relative;">
            <mol-canvas style="display: block;height: 100%; width: 100%;">
                <ligand-glmodels ></ligand-glmodels>
                <protein-glmodels ></protein-glmodels>
            </mol-canvas>
        </div>
    </div>
</div>